* {
  box-sizing: border-box;
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: column;
}

#nav {
  border: solid green 2px;
}

#main {
  border: solid black 2px;
  height: 500px;
}

/* footer css 영역 시작 */
#footer {
  display: flex;
  background-color: #232629;
  padding: 32px 12px 12px 12px;
  justify-content: space-between;
  align-items: stretch;

  @media only screen and (max-width: 980px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

#footer_main_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#logo_container {
  width: 64px;
  height: 100%;
  margin-top: -10px;
  font-size: 30px;
}

#logo_container > i {
  font-size: 50px;
  padding: 10px;
  margin-right: 20px;
}

#menu_container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 980px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 12px 0px;
  }
}

#menu_container :last-child {
  width: 160%;
}

.menu_wrapper {
  height: 100%;
  width: 100%;
  padding: 0px 12px 24px 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu_wrapper > h5 {
  font-size: 13px;
  color: #babfc3;
  margin: 0px 0px 12px 0px;
  text-align: left;
  white-space: nowrap;
}

.menu_inside_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0px;
  @media only screen and (max-width: 980px) {
    flex-direction: row;
  }
}

.menu_inside_wrapper > li {
  list-style: none;
  padding-left: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #7a8188;
  padding: 4px 0px;
}

#info_container {
  display: flex;
  flex-direction: column;
  width: 30%;

  color: #7a8188;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 980px) {
    width: 100%;

    > ul {
      justify-content: flex-start;
    }
    > p {
      margin: 0px;
    }
  }
}

#info_container > ul {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: stretch;
}
#info_container > ul > li {
  list-style: none;
  font-size: 11px;
  padding: 0px 5px 0px 0px;
}
#info_container > p {
  font-size: 11px;
  width: 100%;
  text-align: left;
  margin: auto 0px 24px 0px;
}

/* footer css 영역 끝 */
